<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627291303328-io4qvsevqtasf7r5ucchpprurg7oqi0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627291303328-io4qvsevqtasf7r5ucchpprurg7oqi0u</string>
	<key>API_KEY</key>
	<string>AIzaSyBbsWj5iMN7QCOPsBxPh9f8O2OP4DoJVhw</string>
	<key>GCM_SENDER_ID</key>
	<string>627291303328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nakuskiaApp</string>
	<key>PROJECT_ID</key>
	<string>voice-journal-e3080</string>
	<key>STORAGE_BUCKET</key>
	<string>voice-journal-e3080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627291303328:ios:b3aa8c42a6e527cd3c08c5</string>
</dict>
</plist>